
html,
body {
    text-align: center;
    background-image: url("../images/Tigers.png");
    color: rgb(231, 71, 178);
}
h1 {
    color: rgba(26, 230, 19, 0.877);
}
h2 {
    color: rgba(230, 19, 19, 0.877);
    text-decoration: underline;
}
.container {
    width: 65%;
    margin: 0 auto;
}